In [1]:
# 중괄호를 사용하여 어떤 변수에 저장하면, 그 변수의 타입은 dictionary임.
d={}
type(d)

dict

In [2]:
# CSB라는 Dict 변수에 KEY값을 이름과 성별, Value값을 ["홍길동","김철수","박영희","바둑이"],["남성","남성","여성","남성"]로 두었음.
CSB={"이름":["홍길동","김철수","박영희","바둑이"],"성별":["남성","남성","여성","남성"]}
type(CSB)

dict

In [3]:
# 이거는 딕셔너리에 key와 value를 추가하는 것이고 //  key와 value를 삭제하는 방법은 del 또는 pop사용
# CDB 딕셔너리에 "점수"라는 KEY값을 새로 생성하고, 이에 대응되는 value값을 [100,100,100,100]로 지정
CSB["점수"]=[100,100,100,100]

In [4]:
CSB.keys()

dict_keys(['이름', '성별', '점수'])

In [22]:
for i in CSB.keys():
    print(i)
    print(CSB[i])
    print("\n")

이름
['홍길동', '김철수', '박영희', '바둑이']


성별
['남성', '남성', '여성', '남성']


점수
[100, 100, 100, 100]

In [23]:
print(list(CSB.keys()))
print(list(CSB.values()))

['이름', '성별', '점수']
[['홍길동', '김철수', '박영희', '바둑이'], ['남성', '남성', '여성', '남성'], [100, 100, 100, 100]]

In [26]:
for key,value in CSB.items():
    print(key+" : "+str(value))

이름 : ['홍길동', '김철수', '박영희', '바둑이']
성별 : ['남성', '남성', '여성', '남성']
점수 : [100, 100, 100, 100]

### 각 과목의 평균 점수를 구하여 Dict에 추가해주세요.

In [28]:
score={"홍길동":{"수학":99,"영어":80,"국어":75},
       "김미정":{"영어":67,"국어":87,"수학":55},
       "정수진":{"수학":67,"국어":41,"영어":75}}
kor=0
eng=0
mat=0

for value1 in score.values():
    kor+=value1["국어"]
    eng+=value1["영어"]
    mat+=value1["수학"]
    
score["국어평균"]=kor/3
score["영어평균"]=eng/3
score["수학평균"]=mat/3

score

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 75},
 '국어평균': 67.66666666666667,
 '영어평균': 74.0,
 '수학평균': 73.66666666666667}

In [29]:
score={"홍길동":{"수학":99,"영어":80,"국어":75},
       "김미정":{"영어":67,"국어":87,"수학":55},
       "정수진":{"수학":67,"국어":41,"영어":75}}

kor=[]
eng=[]
mat=[]

for value1 in score.values():
    kor.append(value1["국어"])
    eng.append(value1["영어"])
    mat.append(value1["수학"])

score["평균"]={"국어":sum(kor)/len(kor),"수학":sum(mat)/len(mat),"영어":sum(eng)/len(eng)}
score

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 75},
 '평균': {'국어': 67.66666666666667, '수학': 73.66666666666667, '영어': 74.0}}