In [2]:
import pandas as pd   #pandas = panel datas
import numpy as np

In [21]:
# pandas를 이용해 Series 생성
population=pd.Series([9668465,3391946,2942828,1450062],index=['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

In [5]:
# Series값 확인
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

In [6]:
# Series의 인덱스 확인
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [7]:
# Series의 타입 확인
population.dtype

dtype('int64')

In [9]:
population.name="인구"          # Series에 이름을 지정해주기
population.index.name="도시"    # Series의 인덱스에 이름을 지정해주기
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [10]:
#Series 연산
population/1000000

도시
서울    9.668465
부산    3.391946
인천    2.942828
광주    1.450062
Name: 인구, dtype: float64

In [13]:
#Series 인덱싱, 슬라이싱
population[3]  
# population의 3번째 인덱스에 해당하는 1450062가 나옵니다.

1450062

In [14]:
population[3],population["광주"] 
# tuple 형태로 반환

(1450062, 1450062)

In [16]:
population[[0,3,1]]  
# population라는 시리즈에서 0번째, 3번째, 1번째에 해당되는 행을 차례대로 출력
# 단, 가장 바깥쪽 대괄호 안에 한개의 list형으로 써야 함.

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [18]:
population[["서울","광주","부산"]]
# 이 코드도 마찬가지로 서울, 광주,부산 인덱스에 해당되는 행을 차례대로 출력
# 마찬가지로 가장 바깥쪽 대괄호 안에 한개의 list형으로 써야 함.

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [22]:
population>=2500000
# 인구수가 250만이 이상인 행에 대해서만 True, 그렇지 않으면 False 반환

서울     True
부산     True
인천     True
광주    False
dtype: bool

In [28]:
population[population>=2500000]
#population[[True,True,True,False]]와 같다.

서울    9668465
부산    3391946
인천    2942828
dtype: int64

In [29]:
#인구 수가 250만 이상 500만 이하의 도시는?  >>> and 연산임.
population[population>=2500000][population<=5000000]

부산    3391946
인천    2942828
dtype: int64

In [30]:
#인구 수가 250만 이상 500만 이하의 도시는?  >>> and 연산임. 
population[(population>=2500000)&(population<=5000000)]

부산    3391946
인천    2942828
dtype: int64

In [31]:
#Series 슬라이싱
population[1:3] #Series 중, 1번 행부터 3번행 미만까지 가져옴

부산    3391946
인천    2942828
dtype: int64

In [32]:
population["부산":"인천"] #Series 중, "부산"인덱스부터 "인천"인덱스까지 가져옴

부산    3391946
인천    2942828
dtype: int64

In [33]:
#Dictionary객체로 Series 생성
data={"피카츄":9631,"꼬부기":3393,"파이리":1490,"이상해씨":2632}
pokemon=pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [34]:
data2={"피카츄":9904,"꼬부기":3448,"이브이":2466,"뮤":2890}
pokemon_up=pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      2890
dtype: int64

In [39]:
attack=pokemon_up-pokemon 
# 뮤 / 이브이 / 이상해씨 / 파이리는 "pokemon_up"과 
#"pokemon"간에 매칭되는 인덱스가 아니기 때문에 NaN이 뜹니다.
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [40]:
attack.notnull()  #"attack" Series에서 null값이 아닌 것들만 True로 만듬

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [41]:
attack[attack.notnull()]  # "attack" Series에서 null값이 아닌 것들만 추출함.

꼬부기     55.0
피카츄    273.0
dtype: float64

In [42]:
attack["파이리"]=1616    #Series에 데이터 갱신   >> 이미 attack 시리즈에 
                         #                      "파이리"인덱스가 존재해서
attack["리자몽"]=8888    #Series에 데이터 추가 >> attack 시리즈에 "리자몽"없음
attack

꼬부기       55.0
뮤          NaN
이브이        NaN
이상해씨       NaN
파이리     1616.0
피카츄      273.0
리자몽     8888.0
dtype: float64

In [43]:
del attack["이상해씨"]   #Series에 있는 데이터 삭제
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64